<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/web-services
						http://www.springframework.org/schema/web-services/web-services-2.0.xsd">

	<sws:annotation-driven />

	<bean id="defaultMethodEndpointAdapter"
		class="org.springframework.ws.server.endpoint.adapter.DefaultMethodEndpointAdapter">
		<property name="methodArgumentResolvers">
			<list>
				<ref bean="marshallingPayloadMethodProcessor" />
			</list>
		</property>
		<property name="methodReturnValueHandlers">
			<list>
				<ref bean="marshallingPayloadMethodProcessor" />
			</list>
		</property>
	</bean>

	<bean id="marshallingPayloadMethodProcessor"
		class="org.springframework.ws.server.endpoint.adapter.method.MarshallingPayloadMethodProcessor">
		<constructor-arg ref="marshaller" />
		<constructor-arg ref="marshaller" />
	</bean>

	<bean id="marshaller" class="org.springframework.oxm.castor.CastorMarshaller">
		<property name="mappingLocation" value="classpath:castor-mapping.xml" />
	</bean>

	<sws:interceptors>
		<bean id="validatingInterceptors"
			class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
			<property name="schema" value="classpath:weather-app.xsd" />
			<property name="validateRequest" value="true" />
			<property name="validateResponse" value="true" />
		</bean>
	</sws:interceptors>

	<sws:dynamic-wsdl id="weatherapp" portTypeName="WeatherApp"
		locationUri="/service/">
		<sws:xsd location="classpath:weather-app.xsd" />
	</sws:dynamic-wsdl>

</beans>